body {font-family: Arial, Helvetica, sans-serif;}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: white;
  color: white;
  padding: 12px 20px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: black;
}

.container {
  background-color:white;
  padding: 20px;
}


.box{
    width: 100%;
    height: 200vh;
    background-color: white;
    }
    .wrapper{
        width: 100%;
        height: 40px;
        background-color: white;
        font-family: 'Josefin Sans';
        font-style: italic;
        text-align: center;
        color: rgb(243, 126, 165);

    }
    .shorthand{
        width: 25%;
        height: 250px;
        background-image: url('img folder/IMG_5723.jpg');	
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        float: right;
    }

   
    
    ul{
        list-style-type: none;
    }
    
    li{
        display: inline-block;
    }
    
    a{
       text-decoration: none;
       color: black;
       margin: 0;
       width: 100px;
       padding: 25px;
       font-family: 'Crimson Text', serif;
    }
    .section{
    width: 72.5%;
    height: 100px;
    background-color: purple;
    display: block;
    }
    .navbar{
        width: 100%;
        height: 0px;
        background-color: white;
        display: inline-block;
        text-align: center;
    }   
    .sticky{
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        font-size: 20px;
    }
    
    .footer{
        height: 80px;
        width: 100%;
        margin: 0px 0px 0px 250px;
        padding: 5px;
    }
    #small-text{
        font-size: 30px;
        text-align: left;
    }
    
    h2{
        color: #fff;
    }
    p{
        width: 30px;
        height: 20px;
        color: deeppink;
    }
    #sub-text{
        font-size: 25px;
        color: teal;
    }
    a:visited {
        color: black;
      }
      a:hover {
        border-bottom: 1px solid;     
        background: #CDFEAA;
      }
      .fa .poshmark{
        padding: 20px;
        font-size: 30px;
        width: 50px;
        text-decoration: none;
        margin: 5px 2px;
      }
      .fa .poshmark:hover {
          opacity: 0.7;
      }

.video1{
    padding: 10px;
}
      

.hero-image {
  background-color:tomato;
  width: 100%;
    background-image: url("/img-folder/HomepageImage.jpg");
    background-color: #cccccc;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }


.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

h3 {
    font-family: 'Crimson Text', serif;
}

h1{
    font-family: 'Josefin Sans';
    font-style: italic;
    text-align: center;
    color: rgb(243, 126, 165);
}


.modifier{
    font-size: 60px !important;
    color: tomato !important;
}
